<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Page</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="welcome-form-wrap">
      <h2>Welcome <%= user %></h2>
      <a href="/logout"><input class="form-button" style="width: 17%;" type="submit" id="login" value="Log Out" /></a>
    </div>
  </body>
</html>
